<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to (image_tag "widelogo.png", id: "nav-logo"), root_path, class: "navbar-brand logo-nav"%>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= yield(:home)%>"><a href="/home">Home<span>Main Page</span></a></li>
        <li class="<%= yield(:about)%>"><a href="/about">About<span>Who Are We?</span></a></li>
        <li class="<%= yield(:services)%>"><a href="/services/design">Services<span>What Do We Do?</span></a></li>
        <li class="<%= yield(:news)%>"><a href="/articles">Media <span>What's Going On</span></a></li>
        <li class="<%= yield(:contact)%>"><a href="/contacts">Contact <span>Get In Touch</span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>